@model IEnumerable<sistation.Models.Forum>

    @{
    ViewData["Title"] = "Lista de Fóruns";
    }

    <h1>Fóruns</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">Adicionar Novo Fórum</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Alterar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Apagar</a>
                </td>
            </tr>
}
        </tbody>
    </table>
