@model IEnumerable<sistation.Models.Summary>

    @{
    ViewData["Title"] = "Lista de Resumos";
    }

    <h1>Resumos</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">Adicionar Novo Resumo</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Conteúdo</th>
                <th>Usuário</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>@item.Title</td>
                <td>@item.Content</td>
                <td>@item.User.Email</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Alterar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Apagar</a>
                </td>
            </tr>
}
        </tbody>
    </table>
